<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangzefeng.lovers.mapper.LoversIncidentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wangzefeng.lovers.domain.entity.LoversIncident">
        <id column="incident_id" property="incidentId" />
        <result column="incident_title" property="incidentTitle" />
        <result column="incident_content" property="incidentContent" />
        <result column="incident_time" property="incidentTime" />
        <result column="incident_create_time" property="incidentCreateTime" />
        <result column="user_id_man" property="userIdMan" />
        <result column="user_id_woman" property="userIdWoman" />
        <result column="user_id_create" property="userIdCreate" />
        <result column="incident_images" property="incidentImages" />
    </resultMap>

</mapper>
