<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangzefeng.lovers.mapper.UserMoodRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wangzefeng.lovers.domain.entity.UserMoodRecord">
        <id column="record_id" property="recordId" />
        <result column="record_title" property="recordTitle" />
        <result column="record_images" property="recordImages" />
        <result column="record_content" property="recordContent" />
        <result column="user_id" property="userId" />
        <result column="create_time" property="createTime" />
        <result column="is_hidden" property="isHidden" />
        <result column="visitor_number" property="visitorNumber" />
        <result column="comment_number" property="commentNumber" />
        <result column="approver_number" property="approverNumber" />
    </resultMap>

</mapper>
